html,
body,
#app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#app {
    background-color: #f5f5f5;
}

.content {
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.toolbar {
    position: absolute;
    z-index: 1112;
    top: 10px;
    left: 10px;
}

.version {
    font-size: 14px;
    padding: 10px 0;
    color: #999;
    text-align: right;
}

:root {
    --radius: 40px;
}

.circle {
    width: 0;
    height: 0;
}

.circle svg {
    position: absolute;
    transform: translate(-50%, -100%);
}

.cluster {
    position: relative;

    width: var(--radius, 20px);
    height: var(--radius, 20px);

    color: #8a64eb;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);

    transform: translate(-50%, -50%);
}

.cluster-content {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 70%;

    border-radius: 50%;
    background-color: currentColor;

    transform: translate3d(-50%, -50%, 0);
}

.cluster-text {
    font-size: 0.9em;

    color: #fff;
}
